.quick-exchange {
    display: flex;
    width: 100%;

    @media screen and (max-width: 800px){
        display: block;
    }

    &__cell {
        flex-grow: 1;
        border: 1px solid #ccc;
    }
}

.quick-exchange-currency {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;

    &__img {
        font-size: 1.5em;
        width: 1em;
        height: 1em;
        vertical-align: middle;
    }

    &__name {
        white-space: nowrap;
        @media screen and (max-width: 800px){
            white-space: normal;
        }
    }
}

.quick-exchange-list {
    display: block;
    padding: 0;
    margin: 0;

    &__box {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    &__thead {
        min-height: 3em;
        background-color: #F6F7F9;
    }

    &__hd {
        display: block;
        margin: 0;
        padding: 0;
    }

    &__item {
        display: flex;
        align-items: center;
        padding: 10px 0;
        cursor: pointer;
        box-sizing: border-box;
        border: 1px solid transparent;
        border-bottom-color: #ddd;
        min-height: 5em;

        &._active {
            background: linear-gradient(90deg, #1DDADA 0%, #2383DB 101.46%);
        }

        &:hover {
            border-color: #ccc;
        }
    }

    &__cell {
        padding: 0 10px;
        overflow-x: hidden;
        text-overflow: ellipsis;
    }

    &__close {
        display: none;
    }

    &._get {
        .quick-exchange-list {
            &__box {
                display: grid;
                grid-template-columns: repeat(3, minmax(50px, 1fr));
            }

            &__item,  &__thead {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: repeat(3, minmax(50px, 1fr));
            }
        }
    }

    @media screen and (max-width: 800px) {
        &._modal {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 101;
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            overflow: auto;
            background-color: #fff;

            .quick-exchange-list {
                &__close {
                    display: inline-block;
                    padding: 0.5em;
                    margin: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    position: fixed;
                    top: 10px;
                }
                &__box {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    min-width: 320px;
                }

                &__hd {
                    display: inline-block;
                    margin-left: 30px;
                }
            }
        }

        &:not(._modal) {
            .quick-exchange-list {
                &__cell {
                    padding: 0;

                    &:not(:first-of-type) {
                        display: none;
                    }
                }

                &__item {
                    display: flex;

                    &:not(._active) {
                        display: none;
                    }

                    &._active {
                        &:after {
                            content: "";
                            display: inline-block;
                            padding: 0;
                            margin: auto 0 auto auto;
                            cursor: pointer;
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            font-size: 10px;
                            border-left: 1em solid transparent;
                            border-right: 1em solid transparent;
                            border-top: 1em solid currentColor;
                        }
                    }
                }
            }
        }
    }
}
