.quick-exchange {
    display: flex;
    width: 100%;
    background: #fff;
    font-family: Lato;
    color: #282D33;
    min-height: 500px;

    @media screen and (max-width: 800px) {
        display: block;
    }

    &__cell {
        flex-grow: 1;
        box-sizing: border-box;

        &:first-of-type {
            background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 58.53%, #F6F7F9 100%);
            flex-grow: 0;
            width: 200px;
        }

        &:nth-of-type(2) {
            background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 85.94%, #F6F7F9 100%);
        }

        &:last-of-type {
            flex-grow: 0;
            width: 300px;
        }
    }
}

.quick-exchange-currency {
    display: inline-block;
    margin: 0;
    padding: 0;
    white-space: nowrap;
    overflow: hidden;

    &__icon {
        display: inline-block;
        padding: 0;
        position: relative;
        z-index: 0;
        top: -3px;
        margin: 4px 15px 1px 1px;
        width: 32px;
        height: 32px;
        box-sizing: border-box;
        vertical-align: middle;
        font-size: 0;
        background-color: #fff;
        border: 1px solid rgba(0, 0, 0, 0.05);
        box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.1);
        border-radius: 50%;
    }

    &__name {
        vertical-align: middle;
        white-space: nowrap;
        font-size: 14px;
        line-height: 17px;
        font-weight: 900;

        @media screen and (max-width: 800px){
            white-space: normal;
        }
    }
}

.quick-exchange-list {
    display: block;
    padding: 0;
    margin: 0;

    &__box {
        display: block;
        padding: 0;
        margin: 0;
        width: 100%;
        box-sizing: border-box;
    }

    &__thead, &__item {
        display: flex;
        align-items: center;
        box-sizing: border-box;
        min-height: 75px;
        padding: 10px 0;
        margin: 0;
        border-bottom: 1px solid #E1E8F3;
        background: linear-gradient(90deg, #FFFFFF 0%, #FFFFFF 58.53%, #F6F7F9 100%);
    }

    &__cell {
        padding: 5px 20px;
        overflow-x: hidden;
        text-overflow: ellipsis;
        font-size: 10px;
        line-height: 1.2;

        b {
            font-size: 13px;
            font-weight: normal;
        }
    }

    &__thead {
        min-height: 60px;

        .quick-exchange-list__cell {
            color: #81879C;
        }
    }

    &__hd {
        display: block;
        margin: 0;
        padding: 0;
        font-weight: bold;
        font-size: 18px;
        line-height: 22px;
        color: #282D33;
    }

    &__item {
        cursor: pointer;
        transition: background 0.9s ease-out;

        &._active {
            background: linear-gradient(90deg, #1DDADA 0%, #2383DB 101.46%);
            color: #fff;
        }

        &:hover:not(._active) {
            // background: linear-gradient(90deg, lighten(#2383DB,20%) 0%, lighten(#1DDADA, 20%) 101.46%);
            background: lighten(#1DDADA,30%);
        }
    }

    &__close {
        display: none;
    }

    &._get {
        .quick-exchange-list {
            &__box {
                display: grid;
                grid-template-columns: repeat(3, minmax(50px, 1fr));
            }

            &__item,  &__thead {
                grid-column: 1 / -1;
                display: grid;
                grid-template-columns: repeat(3, minmax(50px, 1fr));
            }
        }
    }

    @media screen and (max-width: 800px) {
        &._modal {
            position: fixed;
            left: 0;
            top: 0;
            z-index: 101;
            box-sizing: border-box;
            width: 100vw;
            height: 100vh;
            overflow: auto;
            background-color: #fff;

            .quick-exchange-list {
                &__close {
                    display: inline-block;
                    padding: 0.5em;
                    margin: 0;
                    border-radius: 50%;
                    cursor: pointer;
                    position: fixed;
                    top: 10px;
                }
                &__box {
                    display: block;
                    box-sizing: border-box;
                    width: 100%;
                    min-width: 320px;
                }

                &__hd {
                    display: inline-block;
                    margin-left: 30px;
                }
            }
        }

        &:not(._modal) {
            .quick-exchange-list {
                &__cell {
                    padding: 0;

                    &:not(:first-of-type) {
                        display: none;
                    }
                }

                &__item {
                    display: flex;

                    &:not(._active) {
                        display: none;
                    }

                    &._active {
                        &:after {
                            content: "";
                            display: inline-block;
                            padding: 0;
                            margin: auto 0 auto auto;
                            cursor: pointer;
                            width: 0;
                            height: 0;
                            overflow: hidden;
                            font-size: 10px;
                            border-left: 1em solid transparent;
                            border-right: 1em solid transparent;
                            border-top: 1em solid currentColor;
                        }
                    }
                }
            }
        }
    }
}

.quick-exchange-exchange {
    display: block;
    margin: 0;
    padding: 0 30px;
    box-sizing: border-box;

    .quick-exchange-list {
        &__thead {
            background: transparent;
            border-color: transparent;
        }

        &__hd {
            padding-left: 0;
            padding-right: 0;
            margin-left: 0;
            margin-right: 0;
        }
    }
}

.quick-exchange-form {
    &__sep {
        display: block;
        padding: 0.5em 0;
        margin: 0;
        color: #20B2DB;
        text-align: center;

        &-icon {
            width: 32px;
            height: 32px;
        }
    }
}
